.stats {
  display: none;
  background-color: #1d2b3a;
  color: var(--secondary);

  @include at-s {
    display: block;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 675px;
    width: 100%;
  }

  &__icon {
    height: 80px;
    margin-right: 40px;
    max-width: 100%;
    vertical-align: middle;
  }

  p {
    flex: 1;
    margin: 0;
    font-size: 20px;
    line-height: 1.5em;
  }

  span {
    font-weight: bold;
    color: var(--success);
  }

  &--loaded {
    animation: slideIn 500ms ease-in forwards;
    overflow: hidden;
  }
}
