@mixin at-s {
  @media screen and (min-width: #{$small-width}) {
    @content;
  }
}
@mixin at-m {
  @media screen and (min-width: #{$medium-width}) {
    @content;
  }
}
@mixin at-l {
  @media screen and (min-width: #{$large-width}) {
    @content;
  }
}

:root {
  --spotify-blue: #576dd6;
  --spotify-blue-alt: #6f83e8;
  --spotify-orange: #d64000;
  --spotify-orange-alt: #ff7439;
  --notification: #eb1e32;
}

//-------------------------------------------
// Fonts
//-------------------------------------------

@font-face {
  font-family: "Spotify Font";
  src: url($spotify-font-normal) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spotify Font";
  src: url($spotify-font-bold) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//-------------------------------------------
// Global
//-------------------------------------------

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Spotify Font", sans-serif !important;
}

//-------------------------------------------
// Animations
//-------------------------------------------

@keyframes slideIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

//-------------------------------------------
// Components
//-------------------------------------------

@import "breadcrumbs";
@import "header";
@import "user-menu";
@import "search";
@import "home-categories";
@import "nav-sidebar";
@import "stats";
@import "overrides";
