@mixin at-s {
  @media screen and (min-width: #{$small-width}) {
    @content;
  }
}
@mixin at-m {
  @media screen and (min-width: #{$medium-width}) {
    @content;
  }
}
@mixin at-l {
  @media screen and (min-width: #{$large-width}) {
    @content;
  }
}

:root {
  --spotify-blue: #576dd6;
  --spotify-orange: #d64000;
}

//-------------------------------------------
// Fonts
//-------------------------------------------

@font-face {
  font-family: "Spotify Font";
  src: url($spotify-font-normal) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spotify Font";
  src: url($spotify-font-bold) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//-------------------------------------------
// Global
//-------------------------------------------

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Spotify Font", sans-serif !important;
}

//-------------------------------------------
// Global header elements
//-------------------------------------------

.d-header {
  background-color: var(--d-selected);
  color: var(--header_primary);

  svg {
    fill: var(--spotify-orange);
  }

  .d-header-mode .btn {
    background-color: var(--spotify-orange);
    color: var(--secondary);
  }

  .title,
  .header-buttons {
    display: none;
  }

  #current-user,
  .search-dropdown {
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  // Show elements when header is in sticky mode
  // TODO: Is there a class hook or helper for this?
  .extra-info-wrapper ~ .panel .search-dropdown,
  .extra-info-wrapper ~ .panel #current-user {
    display: block;
    opacity: 1;
    transition: all 200ms;
    overflow: auto;
    width: auto;
  }
}

//-------------------------------------------
// Breadcrumbs
//-------------------------------------------

.breadcrumbs {
  z-index: 101;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px 25px 0 0;
  white-space: nowrap;
  margin: 45px 15px 0;
  color: rgba(var(--secondary), 0.7);
  font-size: 15px;

  @include at-s {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
  }

  &__home {
    margin: 0 5px;
  }

  &__item {
    color: var(--secondary);
  }
  &__item::before {
    content: "/\00a0";
    padding: 0 5px;
    color: #a1a1a1;
  }

  &__title {
    display: none;

    @include at-s {
      display: block;
      color: var(--secondary);
      opacity: 0.7;
      margin-right: 10px;
    }
  }

  a {
    color: var(--secondary);
  }
  a:hover {
    color: var(--quaternary);
  }
}

//-------------------------------------------
// Header
//-------------------------------------------

.header-wrapper {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: var(--header_primary);
  background-image: url($header-bg-2);
  background-origin: padding-box;
  background-position: 0% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--header-primary);
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.7143px;
  text-align: left;
  text-size-adjust: 100%;

  @include at-s {
    padding-bottom: 55px;
  }

  // Match Discourse header transition
  .wrap {
    transition: all 250ms ease-in;
  }

  &_hero {
    padding: 15px 0;
  }

  &_hero h2 {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--secondary);
    line-height: 1.2;
    text-align: center;

    @include at-s {
      font-size: 49px;
      line-height: 1.1;
    }
  }

  &--slim {
    background-position: 0% 80%;
    padding-bottom: 0;
  }
  &--slim .search-wrapper {
    margin: 25px auto;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }

  &_logo {
    display: block;
    width: 150px;
    height: 40px;
    margin: 20px;

    @include at-s {
      width: 188px;
    }
  }

  &_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
  }
  &_items li {
    padding: 0 5px;

    @include at-s {
      padding: 0 25px;
    }
  }
  &_items li:first-child {
    display: none;

    @include at-s {
      display: block;
    }
  }

  &_link,
  &_link:visited {
    color: var(--secondary);
    font-size: 16px;
    transition: color 200ms;
  }
  &_link:hover {
    color: var(--quaternary);
  }
}

//-------------------------------------------
// User Menu Dropdown
//-------------------------------------------

.user-menu {
  position: relative;
  color: var(--secondary);
  padding-left: 15px !important;

  & > button svg {
    fill: var(--secondary);
    display: none;

    @include at-s {
      display: inline-block;
    }
  }
  & > button:hover,
  & > button:focus,
  & > button:active,
  & > button.is-active {
    color: var(--quaternary) !important;
    background-color: transparent !important;
  }
  & > button:hover svg,
  & > button:focus svg,
  & > button:active svg,
  & > button.is-active svg {
    fill: var(--quaternary);
  }
  & > button:hover .avatar,
  & > button:focus .avatar,
  & > button:active .avatar,
  & > button.is-active .avatar {
    border-color: var(--quaternary);
  }

  &_username {
    padding: 0 6px 0 10px;
    display: none;

    @include at-s {
      display: inline-block;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }

  .user-menu-dropdown-wrapper {
    position: relative;
    z-index: 1005;

    .user-menu {
      top: 10px;
    }

    .user-menu .panel-body {
      max-height: 500px;
    }
  }

  .badge-notification {
    position: absolute;
    top: 2px;
    left: 10px;
    background-color: #eb1e32;
    padding: 3px 7px;
    min-width: 10px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
  }
}

//-------------------------------------------
// Main Search
//-------------------------------------------

.main-search {
  padding: 0 15px;

  @include at-s {
    padding: 0;
  }

  &--home {
    margin: 40px auto 20px;
  }
}

.search-wrapper {
  position: relative;
  background-color: var(--header_background);
  margin: 0 auto;
  max-width: 550px;
  border-radius: 50px;
  z-index: 1001;

  .search-input {
    background-color: transparent;
    border: none;
    padding: 6px;
  }
  .search-input:focus-within {
    border: none;
    outline: none;
  }

  input[type="search"] {
    padding-left: 55px;
    font-size: 18px;
  }

  .search-menu-panel {
    top: 60px !important;
    border-radius: 20px;
  }

  > .d-icon-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
  }

  .show-advanced-search {
    margin-right: 15px;
  }
  .show-advanced-search:active {
    background-color: transparent !important;
  }
  .show-advanced-search svg {
    font-size: 20px;
  }

  .search-link:hover {
    background-color: var(--d-hover);
    border-radius: 10px;
  }
}

//-------------------------------------------
// Homepage Categories
//-------------------------------------------

.home-categories {
  margin: 25px auto 0;
  padding: 0 15px;
  max-width: 730px;
  color: var(--secondary);

  @include at-s {
    margin-top: 55px;
  }

  ul {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: 0;

    @include at-s {
      flex-flow: wrap;
    }
  }

  li {
    @include at-s {
      flex: 0 0 33.3%;
    }
  }

  a {
    display: flex;
    flex-flow: wrap;
    color: #fff;
    padding: 15px 0;
    border-radius: 15px;
    transition: all 300ms ease;

    @include at-s {
      flex-flow: column;
    }
  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &_content {
    flex: 1;
    text-align: left;

    @include at-s {
      text-align: center;
    }
  }

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;

    @include at-s {
      margin-bottom: 5px;
      font-size: 49px;
    }
  }

  p {
    margin: 0;
    font-size: 15px;

    @include at-s {
      margin: 0 auto;
      max-width: 120px;
    }
  }

  &_icon {
    max-width: 60px;
    margin: 0 20px;

    @include at-s {
      margin: 0 auto;
      max-width: 120px;
    }
  }
  &_icon svg {
    margin: 0 auto 5px;
    font-size: 60px;

    @include at-s {
      margin: 0 auto 25px;
      font-size: 120px;
    }
  }
}

//-------------------------------------------
// Nav sidebar
//-------------------------------------------

.btn-nav-toggle {
  &:focus,
  &:active {
    background-color: transparent !important;
  }

  svg {
    font-size: var(--font-up-4);
    line-height: var(--line-height-large);
    display: inline-block;
    fill: #fff;
    font-size: 35px;
  }

  &:hover svg {
    fill: var(--quaternary);
  }
}

.nav-sidebar {
  display: block;
  background-color: #000;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 38px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1005;
  transform: translateX(100%);
  transition: transform 400ms ease-in;
  box-sizing: border-box;

  @include at-s {
    max-width: 500px;
    width: 500px;
  }

  &.is-active {
    transform: translate(0);
  }

  .btn-nav-toggle {
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 1;
  }
  .btn-nav-toggle svg {
    fill: #fff;
  }
  .btn-nav-toggle:hover svg {
    fill: var(--quaternary);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    margin-bottom: 20px;
    list-style: none;
  }

  li h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    line-height: 1.2;
  }

  li h3 span,
  li h3 > a {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 0;
  }

  li h3:hover {
    color: var(--quaternary);
    cursor: pointer;
  }

  &_sublist {
    margin-top: 10px;
  }
  &_sublist li {
    margin: 0;
  }
  &_sublist a {
    color: #fff;
    font-size: 16px;
  }
  &_sublist a:hover {
    color: var(--quaternary);
  }
}

.nav-sidebar.is-active + .nav-sidebar-overlay {
  pointer-events: all;
  opacity: 0.2;
}
.nav-sidebar-overlay {
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1004;
}

//-------------------------------------------
// Topic
//-------------------------------------------

#topic-title h1 {
  font-size: 40px !important;
}

.topic-body {
  border-top: none;
}
.topic-body .cooked {
  line-height: 1.7;
  font-size: 15px;

  h2 {
    margin: 2.5rem 0 1rem;
  }
  h2:first-child {
    margin-top: 0;
  }

  ul li .list-item-checkbox {
    margin-right: 5px;
  }

  p {
    margin: 1rem 0;
  }
  p:first-child {
    margin-top: 0;
  }
}

.topic-avatar {
  border-top: none;
}

//-------------------------------------------
// Generic overrides
//-------------------------------------------

.btn {
  border-radius: 50px;
  max-width: $small-width;
}
.btn-primary {
  background-color: #d64000;

  &:active,
  &:focus,
  &:hover {
    background-color: #ff7439 !important;
  }
}

#reply-control {
  z-index: 1005;
}

.header-sidebar-toggle button {
  margin-right: 0;
}

.sidebar-section-wrapper .sidebar-section-link {
  color: #000;

  .svg-icon {
    fill: #c1c1c1;
  }
}
