{{!-- <div class="d-header-new">
  <div class="header-wrapper">
    <div class="wrap"> --}}

      {{!-- {{d-sidebar-toggle}}

      <button id="toggle-hamburger-menu" class="toggle-hamburger-menu btn-flat">
        {{d-icon "bars"}}
      </button> --}}

      {{!-- <h1>
        <a href="/">
          {{#if this.siteSettings.logo}}
            <img
              src="{{this.siteSettings.logo}}"
              alt="Spotify Community"
              class="navbar-logo"
            />
          {{/if}}
        </a>
      </h1>
{{header-dropdown-toggle}}
      <div class="header-wrapper_hero">
        <h2>Find solutions, share ideas<br />and discuss music</h2>
      </div>
    </div>
  </div>
</div> --}}